* {
	margin: 0px;
	/*border-width: 1px;border-color: grey;border-style: solid;*/
}
hr {
	margin: 1em 0em;
	border: 1.1px solid black
}
a {
	padding: 1em 2.5em;
	width: 10%;
}
a:hover {
	border-radius:50px;
	background-color: cyan;
}
.container {
	padding: 6em;
}
.header {
	margin-bottom: 1em;
	padding: 1em 1em;
}
.header {
	border: 2px solid black;
	border-radius: 50px;
}
.footer {
	text-align: center;
	padding: 1em 1em;
}
.data p {
	padding: 1em 1em;
	margin: 0em 1em;
}
.dataCrud {
	padding: 1em 1em;
	margin: 0em 1em;
	border: 2px solid black;
	border-radius: 50px;
}
.dataRight {
	clear: both;
	float: right;
}
.dataLeft {
	float: left; 
}